In [18]:
import pandas as pd

In [ ]:
train_set = pd.read_csv("../data/train.csv")
train_set.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [ ]:
train_set.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [49]:
a = train_set.isnull().sum() 
a[a>0]

LotFrontage      259
Alley           1369
MasVnrType       872
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [ ]:
keyFactors = [

          # Identifiant (à conserver pour référence)
        'Id',
        
        # Variables structurelles essentielles
        'OverallQual',      # Qualité générale
        'OverallCond',      # Condition générale
        'YearBuilt',        # Année de construction 
        'YearRemodAdd',     # Année de rénovation
        
        # Surfaces
        'GrLivArea',        # Surface habitable
        'TotalBsmtSF',      # Surface totale du sous-sol
        'LotArea',          # Surface du terrain
        
        # Garage et extérieur
        'GarageArea',       # Surface du garage
        'GarageCars',       # Capacité du garage en voitures
        'GarageYrBlt',      # Année de construction du garage
        'GarageType',       # Type de garage
        'GarageFinish',     # Finition du garage
        
        # Pièces et salles de bain
        'FullBath',         # Salles de bain complètes
        'HalfBath',         # Demi-salles de bain
        'BedroomAbvGr',     # Chambres au-dessus du sol
        'KitchenAbvGr',     # Cuisines au-dessus du sol
     
        # Qualité
        'KitchenQual',      # Qualité de la cuisine
        'ExterQual',        # Qualité extérieure
        'ExterCond',        # Condition extérieure
        'BsmtCond',         # Condition du sous-sol
        'HeatingQC',        # Qualité du chauffage
        
        # Localisation
        'Neighborhood',     # Quartier
        'MSZoning',         # Zonage
        
        # Caractéristiques additionnelles de valeur
        'Fireplaces',       # Nombre de cheminées
        'FireplaceQu',      # Qualité des cheminées
        'WoodDeckSF',       # Surface de la terrasse en bois
        'OpenPorchSF',      # Surface du porche ouvert
        'Foundation',       # Type de fondation
        'CentralAir',       # Climatisation centrale
        
        # Variables de vente (pour l'entraînement)

        'SaleType',         # Type de vente
        'SaleCondition',    # Condition de vente
        'MiscFeature',        # Commonditer qui ne figure pas details

]

In [50]:
df = train_set[keyFactors]
df.head()

,Id,OverallQual,OverallCond,YearBuilt,YearRemodAdd,GrLivArea,TotalBsmtSF,LotArea,1stFlrSF,2ndFlrSF,...,YrSold,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice
0,1,7,5,2003,2003,1710,856,8450,856,854,...,2008,208500,208500,208500,208500,208500,208500,208500,208500,208500
1,2,6,8,1976,1976,1262,1262,9600,1262,0,...,2007,181500,181500,181500,181500,181500,181500,181500,181500,181500
2,3,7,5,2001,2002,1786,920,11250,920,866,...,2008,223500,223500,223500,223500,223500,223500,223500,223500,223500
3,4,7,5,1915,1970,1717,756,9550,961,756,...,2006,140000,140000,140000,140000,140000,140000,140000,140000,140000
4,5,8,5,2000,2000,2198,1145,14260,1145,1053,...,2008,250000,250000,250000,250000,250000,250000,250000,250000,250000

In [52]:
train_set[['Exterior1st', 'Exterior2nd']]

     Exterior1st Exterior2nd
0        VinylSd     VinylSd
1        MetalSd     MetalSd
2        VinylSd     VinylSd
3        Wd Sdng     Wd Shng
4        VinylSd     VinylSd
...          ...         ...
1455     VinylSd     VinylSd
1456     Plywood     Plywood
1457     CemntBd     CmentBd
1458     MetalSd     MetalSd
1459     HdBoard     HdBoard

[1460 rows x 2 columns]

In [61]:
ext1= train_set['Exterior1st'].values
ext2= train_set['Exterior2nd'].values
train_set[['Exterior1st', 'Exterior2nd']][ext1 != ext2]

     Exterior1st Exterior2nd
3        Wd Sdng     Wd Shng
8        BrkFace     Wd Shng
11       WdShing     Wd Shng
12       HdBoard     Plywood
19       BrkFace     Plywood
...          ...         ...
1416     VinylSd     AsbShng
1448     MetalSd     HdBoard
1449     CemntBd     CmentBd
1451     CemntBd     CmentBd
1457     CemntBd     CmentBd

[215 rows x 2 columns]

In [63]:
df['Exterior'] = train_set['Exterior2nd'].values
df.head()

/tmp/ipykernel_37185/1963059959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Exterior'] = train_set['Exterior2nd'].values

,Id,OverallQual,OverallCond,YearBuilt,YearRemodAdd,GrLivArea,TotalBsmtSF,LotArea,1stFlrSF,2ndFlrSF,...,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,SalePrice,Exterior
0,1,7,5,2003,2003,1710,856,8450,856,854,...,208500,208500,208500,208500,208500,208500,208500,208500,208500,VinylSd
1,2,6,8,1976,1976,1262,1262,9600,1262,0,...,181500,181500,181500,181500,181500,181500,181500,181500,181500,MetalSd
2,3,7,5,2001,2002,1786,920,11250,920,866,...,223500,223500,223500,223500,223500,223500,223500,223500,223500,VinylSd
3,4,7,5,1915,1970,1717,756,9550,961,756,...,140000,140000,140000,140000,140000,140000,140000,140000,140000,Wd Shng
4,5,8,5,2000,2000,2198,1145,14260,1145,1053,...,250000,250000,250000,250000,250000,250000,250000,250000,250000,VinylSd

In [80]:
cond1 = train_set['Condition1'].values
cond2 = train_set['Condition2'].values
train_set[['Condition1', 'Condition2']][cond1 != cond2]

df['Condition'] = train_set['Condition2'].values
df.head()
df=df[df.columns.sort_values()]
df.head()

/tmp/ipykernel_37185/3824429964.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Condition'] = train_set['Condition2'].values

,1stFlrSF,2ndFlrSF,BedroomAbvGr,BsmtCond,BsmtQual,CentralAir,Condition,ExterCond,ExterQual,Exterior,...,SalePrice,SalePrice,SalePrice,SaleType,TotRmsAbvGrd,TotalBsmtSF,WoodDeckSF,YearBuilt,YearRemodAdd,YrSold
0,856,854,3,TA,Gd,Y,Norm,TA,Gd,VinylSd,...,208500,208500,208500,WD,8,856,0,2003,2003,2008
1,1262,0,3,TA,Gd,Y,Norm,TA,TA,MetalSd,...,181500,181500,181500,WD,6,1262,298,1976,1976,2007
2,920,866,3,TA,Gd,Y,Norm,TA,Gd,VinylSd,...,223500,223500,223500,WD,6,920,0,2001,2002,2008
3,961,756,3,Gd,TA,Y,Norm,TA,TA,Wd Shng,...,140000,140000,140000,WD,7,756,0,1915,1970,2006
4,1145,1053,4,TA,Gd,Y,Norm,TA,Gd,VinylSd,...,250000,250000,250000,WD,9,1145,192,2000,2000,2008